body{
    background-image: url('../Assets/default_bg.png');
    background-size: cover; /* Scale the background image to cover the entire container */
    background-attachment: fixed; /* Fixed background */
    background-position: center; /* Center the background image horizontally and vertically */
    color: #F4FAFF;
}


.container {
    width: 50%;
    height: 100%;
    background: rgba(217, 217, 217, 0.05);
    border: 1px #9D9D9D solid;
    border-radius: 30px;

    margin: 50px auto; 
    padding: 70px;
    text-align: left; 
}

.container h2{
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    display: inline-block;

}



.account_instance {
    border-radius: 30px;
    border: 1px #9D9D9D solid;
    background: #221A41;


    margin: 50px auto; 
    padding: 20px;
    text-align: left; 
}

.account_instance span {
    display: block;
}

.account_instance > .name {
    font-weight: bolder;
    display: inline-block;
}

.accountLink a,
.accountLink a:link,
.accountLink a:hover,
.accountLink a:visited,
.accountLink a:focus,
.accountLink a:active,
.accountLink a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: auto;
  }

a {
    text-decoration: none;
    color:unset;
    outline: 0;
}

.container > .greyed {
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    color: rgba(255, 255, 255, 0.406);
}