.pOption_3{
    display: flex;
    flex-direction: row;
    width: calc(100vw - 335px);
    transition: width .8s ease;
}

.job-list-container .label, .job-list-container .data{
    margin: 0;
}

.job-list-container{
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
    gap: 20px;
    padding: 80px 80px 0 80px;
}

.job-list-container .ad_acc{
    width: 100%;
    display: flex;
    align-items: flex-start;
}

/* CSS for each Job Containers */
.jobContainer{
    width: 100%;
    max-width: 780px;
    height: 230px;
    font-family: 'Karla', sans-serif;

    background: #241a32;
    /* box-shadow: 0px 1px 20px 5px rgba(115, 78, 191, 0.20) inset; */
    border-radius: 40px;
    backdrop-filter: blur(20px);
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);

    overflow: hidden; /* Hide any content that overflows the container */
}

.jobrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.jobContainer .jobrow{
    /* height: 100px; */
    justify-content: space-between;
    align-items: flex-start;
}

.job_innerdata{
    display: flex;
    /* gap: 10px; */
    color: #E8DFE0; 
    font-weight:500;
    padding: 40px;

    flex-direction: column;
    overflow-x:hidden;
    overflow-y: scroll; /* Enable vertical scrolling */
}

.job_innerdata2{
    display: flex;
    /* gap: 10px; */
    font-weight:500;
    padding: 40px;
    width: 100%;
    flex-direction: column;
    overflow-x:hidden;
    overflow-y: scroll; /* Enable vertical scrolling */
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.job_innerdata::-webkit-scrollbar, .job_innerdata2::-webkit-scrollbar {
    width: 0;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.job_innerdata, .job_innerdata2 {
    scrollbar-width: none;
    margin-bottom: 10px;
}

.job_innerdata h4, .job_innerdata2 h4{
    margin: 0;
}

.job_innerdata hr, .job_innerdata2 hr{
    border-color: white;
    width: 100%;
    margin: 15px 0;
}

.job_innerdata2 .data{
    font-size: 14px;
    margin: 0;
}
.job_innerdata2 .label{
    font-size: 14px;
    margin: 5px 0;
    font-weight: bold;
}

.job_innerdata2 .jobrow{
    display: flex;
    margin: 10px;
    text-align: left;
    justify-content: space-between;
}

.jobName{
    font-size: 20px;
    font-weight: 700;
}

.employer-details .data{
    font-size: 20px;
    font-weight: 500;
}

.t-data .data{
    font-size: 20px;
    font-weight: 700;
}

.employer-details .label{
    font-weight: 700;
    font-style: italic;
}

.t-data .label{
    margin-bottom: 20px;
    font-style: italic;
}

.status{
    opacity: 0.7;
}

.statusContainer p{
    font-size: 14px;
    margin: 0;
}

.statusContainer h4{
    font-size: 17px;
}

.statusContainer{
    text-align: right;
}

.jobDescription{
    font-weight: 400; 
    line-height: 32px;
}

a {
    color: rgb(223, 206, 255);
    font-weight: bold;
}

/* Employer View Applicants */
.view-applicants-link{
    margin: 20px 0;
    text-align: right;
}

h6 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.sidebar{
    background: #ffffff;
    overflow: auto;
}

.task-info{
    display: flex;
    padding: 20px;
}

.task-info hr{
    background: #4C3D6A;
}
.applicant-list-container{
    display: flex;
}

#vm-sidebar {
    position: fixed;
    top: 0;
    right: -500px; /* Start from the right side of the screen */
    width: 400px;
    height: 100%;
    /* box-shadow: 0px 1px 20px 5px rgba(115, 78, 191, 0.20) inset; */
    backdrop-filter: blur(20px);
    transition: right 0.8s ease;
}
#vm-sidebar.vm-open {
    right: 0; 
    position: fixed;
}


.close-sidebar {
    position: relative;
    width: 6em;
    height: 4em;
    border: none;
    background: none;
    margin: 10px;
  }
  
  .X {
    content: '';
    position: absolute;
    top: 50%;
    left: 33%;
    width: 2em;
    height: 1.5px;
    background-color: #000000;
    transform: rotate(45deg);
  }
  
  .Y {
    content: '';
    position: absolute;
    top: 50%;
    left: 33%;
    width: 2em;
    height: 1.5px;
    background-color: #000000;
    transform: rotate(-45deg);
  }
  
  .close {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: -40%;
    left: 70%;
    width: 3em;
    height: 1.7em;
    font-size: 16px;
    background-color: rgb(254, 255, 225);
    color: #000;
    border: 1px solid #000;
    pointer-events: none;
    opacity: 0;
  }
  
  .close-sidebar:hover {
    background-color: rgb(210, 0, 0);
  }
  
  .close-sidebar:active {
    background-color: rgb(130, 0, 0);
  }
  
  .close-sidebar:hover > .close {
    animation: close 0.2s forwards 1.25s;
  }
  
  @keyframes close {
    100% {
      opacity: 1;
    }
  }

.applicant-container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.applicant-box{
    width: 200px;
    height: 200px;
    background-color: rgba(115, 78, 191, 0.20);
    border-radius: 40px;
    padding: 20px;
}

.applicant-container h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.applicant-container p{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

button{
    margin: 10px 0;
}



/* edit button */
.edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
  }
  
  .edit-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
  }
  
  .edit-svgIcon path {
    fill: white;
  }
  
  .edit-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(50,23,77);
    align-items: center;
  }
  
  .edit-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .edit-button::before {
    display: none;
    content: "Edit";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .edit-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }
 
  
  .pOption_4{
    flex-direction: column;
  }

  .cen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 50px;
  }

  .l_files{
    border: 2px solid black;
    border-radius: 40px;
    padding: 20px;
    height: 200px;
    width: 80%;
  }

  .uploaded{
    width: 80%;
  }

  /* Add Files */
  .file-upload-form {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .file-upload-label input {
    display: none;
  }
  .file-upload-label svg {
    height: 50px;
    fill: rgb(82, 82, 82);
    margin-bottom: 20px;
  }
  .file-upload-label {
    cursor: pointer;
    background-color: #ddd;
    padding: 30px 70px;
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    width: 100%;
    box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
  }
  .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
  }
  .browse-button {
    background-color: rgb(82, 82, 82);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
  }
  .browse-button:hover {
    background-color: rgb(14, 14, 14);
  }

  .pOption_4 .ad_acc{
    margin-top: 80px;
    margin-left: 80px;
  }