body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.main-container{
    display: flex;
    flex-direction: row;
    padding-top: 40px 0;
}

/* Styling for the sidebar */
.side-bar {
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #f3f3f3;
    margin-left: 70px;
    padding: 50px 0;
}
  
.side-options{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: inherit;
    z-index: -1000;
    gap: 5px;
}  
.side-options button{
    width: inherit;
}

.p-hdr{
    align-self: flex-start;
    font-size: 40px;
    margin: 30px 10px;
    padding: 0 50px;
}

  .p_option {
    background-color: transparent;
    border: none;
    padding: 10px 50px;
    color: black;
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
  }
  
  .p_option:not(.active):hover {
    background-color: #21262C;
    color: white;
    transition: all 0.3s ease;
  }
  
  .p_option::before {
    content: "";
    position: absolute;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: #21262C;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .p_option.active{
    font-weight: bolder;
  }

  .p_option:focus::before,
  .p_option.active::before {
    opacity: 1;
  }
  
  .p_option svg {
    width: 20px
  }

/* right side container */
.p_container{
    flex: 1;
    padding: 80px;
    display: flex;
    flex-direction: column;
}

.u_acc{
    font-size: 20px;
    font-weight: bold;
}

.ad_acc{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.u_info{
    opacity: .8;
    font-size: 15px;
}

.p_info_container{
    margin: 40px 0;
    display: flex;
    gap: 40px;
    align-items: center;
}

.p_info_container img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
    border-radius: 100px;
}

.u_name{
    font-size: 15px;
    font-weight: bolder;
    margin: 0;
}

.p_hr{
    width: 100%;
    color: #f3f3f3;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; /* margin between rows */
    gap: 20px;
}

.input-group {
    width: 100%;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    margin-left: 2px;
    font-size: 15px;

}

.input-group input {
    width: 100%;
    height: 40px;
    padding: 15px;
    border: 2px solid #734EBF;
    border-radius: 15px;
    background-color: #2B1D5A;
    color: #ffffff;
    box-sizing: border-box; 
}

/* Change Profile */
.mod{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.pOption_1 form, .mod form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.prof{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    transition: all 0.3s ease;
    position: relative;
    transition: all 0.3s ease;
}
.profile-pic input {
    display: none;
}
.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
    border-radius: 100px;
    z-index: 4000;
}
.profile-pic .-label {
    cursor: pointer;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 15px;
}
.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}
.profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
}

.name{
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
}


.task-button {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 2.5rem;
    padding: 0 2rem;
    border-radius: 10px;
    background: rgb(50,23,77);
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .task-button:hover::before {
    transform: scaleX(1);
  }

  .button-content {
    position: relative;
    z-index: 1;
  }

  .task-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }

  /* Log Out */
  .logOutBtn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: rgb(50,23,77);
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--night-rider);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: var(--af-white);
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--af-white);
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .logOutBtn:hover {
    width: 150px;
    border-radius: 10px;
    transition-duration: .3s;
  }
  
  .logOutBtn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .logOutBtn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .logOutBtn:active {
    transform: translate(2px ,2px);
  }