body.default{
    /* background-image: url('../../Assets/bg.png'); */
    background-color: #eaeaea;
    background-size: cover; /* Scale the background image to cover the entire container */
    background-attachment: fixed; /* Fixed background */
    background-position: center; /* Center the background image horizontally and vertically */
    /* color: #F4FAFF; */
    color: #221A41;
}

.TB_container {
    width: 80%;
    margin: 0 auto;
}


.TB_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-container {
    flex-grow: 1; /* Welcome message takes up remaining space */
}

.welcome{
    font-size: 40px;
}

.task-button {
    width: 150px;
    height: 40px;
    background: linear-gradient(92deg, rgba(115, 78, 191, 0.75) 0%, rgba(72, 44, 244, 0.75) 100%);
    border: 3px solid transparent;
    border-radius: 30px;
    /* color: #ffffff; */
    color: #221A41;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

/* Add Task Form */
.form-container {
    width: 900px;
    height: 70%;
    overflow: auto;
    /* background: linear-gradient(270deg, #221A41 0%, rgba(34, 26, 65, 0) 100%); */
    background-color: #ffffff;
    box-shadow: 0px 1px 20px 5px rgba(115, 78, 191, 0.20) inset;
    border-radius: 40px;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;

    /* Other styles */
    position: fixed; /* Fixed positioning to overlay the page */
    top: 50%; /* Position at the vertical center */
    left: 50%; /* Position at the horizontal center */
    transform: translate(-50%, -50%); /* Center the form */
    z-index: 1000; /* Ensure the form is on top of other content */
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.form-content h2{
    font-size: 30px;
}

span .date{
    font-weight: 600;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: 600;
}

.input-group input, textarea, select{
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: 2px solid #734EBF;
    border-radius: 15px;
    background-color: #d1c5f9;
    color: #221A41;
    box-sizing: border-box; 
}

.input-group textarea{
    min-height: 200px;
    max-width: 100%;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: #221A41;
    font-size: 20px;
    cursor: pointer;
}

.close-button:hover {
    color: #ff0000; /* Change color on hover if desired */
}

.button-container input[type=submit] {
    width: 150px;
    height: 40px;
    background: linear-gradient(92deg, rgba(115, 78, 191, 0.75) 0%, rgba(72, 44, 244, 0.75) 100%);
    border: 3px solid transparent;
    border-radius: 30px;
    color: #ffffff;
    font-size: 15px; 
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.button-container input[type=submit]:hover {
    background: linear-gradient(92deg, rgba(115, 78, 191, 1) 0%, rgba(72, 44, 244, 1) 100%);
}

.button-container {
    width: 100%; 
    padding: 20px 0;
    text-align: right; /* Align button to the right */
}

/* End of Task Form */


.TB_listContainer{
    position: absolute;

    width: 80%;
    height: 100vh;
    overflow: hidden; /* Hide any content that overflows the container */
}

.TB_inner_container {
    background: linear-gradient(148deg, rgba(217, 217, 217, 0.05) 0%, rgba(217, 217, 217, 0) 100%);
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start; /* Center flex items horizontally */
    padding: 50px;
    
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* Enable vertical scrolling */
}


/* Hide scrollbar for Chrome, Safari, and Opera */
.TB_inner_container::-webkit-scrollbar {
    width: 0;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.TB_inner_container {
    scrollbar-width: none;
}

/* CSS for each Job Containers */
.jobContainer{
    width: 30%;
    height: 400px;
    font-family: 'Karla', sans-serif;

    /* background: linear-gradient(270deg, #221A41 0%, rgba(34, 26, 65, 0) 100%); */
    background-color: #ffffff;
    box-shadow: 0px 1px 20px 5px rgba(181, 178, 187, 0.2) inset;
    /* box-shadow: 0px 1px 20px 5px rgba(115, 78, 191, 0.20) inset; */
    border-radius: 10px;
    backdrop-filter: blur(20px);

    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.job_innerdata{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    color: #221A41;
    font-weight:500;
    font-style: italic;

    width: 100%;
    height: 100%;
    padding: 0 10px 0 0;

    flex-grow: 1; /* Fill remaining space */
    gap: 10px;
    overflow: hidden;
}

.footer{
    /* background: rgb(74, 65, 110); */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    border-bottom-left-radius: 10px; /* Rounded bottom left corner */
    border-bottom-right-radius: 10px; /* Rounded bottom right corner */
    padding: 10px;
    padding-right: 30px;
}

.header, .footer {
    flex-shrink: 0; /* Prevent header and footer from shrinking */
}

.body-container {
    flex-grow: 1; /* Body content takes up remaining space */
    overflow-y: auto; /* Enable vertical scrolling for body content */
    padding: 0 50px;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.body-container::-webkit-scrollbar {
    width: 0;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.body-container {
    scrollbar-width: none;
}

.rank-container p{
    margin: 5;
}

.rank-box{
    background: rgba(115, 91, 209, 0.789);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.header{
    /* background: rgb(74, 65, 110); */
    border-bottom: 2px solid #2B1D5A;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px 30px 10px;

    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.heading-container{
    width: 100%;
}

.header p{
    margin: 5px;
}

.rank-box h1{
    margin: 0;
    font-size: 30px;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.job_innerdata::-webkit-scrollbar {
    width: 0;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.job_innerdata {
    scrollbar-width: none;
}

.left-data{
    max-width: 600px;
}

.right-data{
    width: 200px;
}

.left-data .label{
    font-weight: 700;
}

.left-data .data{
    font-size: 18px;
    font-weight: 500;
}

.jobDescription{
    font-weight: 400; 
    line-height: 32px;
}

.jobName{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;

    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
    white-space: nowrap; 
    max-width: calc(100% - 5px); 
}

.right-data p{
    margin: 0;
}

.right-data .label{
    margin-bottom: 20px;
}

.right-data .data{
    font-size: 18px;
    font-weight: 700;
}

.statusContainer p, h3{
    margin: 0;
    width: max-content;
}

